<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Posts</title>
</head>
    <body>

        <div th:fragment="posts">

            <div class="starter-template panel" th:object="${pager}" th:each="post : ${pager.getPosts()}">
                <div class="panel-heading">

                    <span th:if="${pager.indexOutOfBounds()}">There is no posts yet :(
                        <a class="pageLink" th:href="@{${baseUrl}(page=1)}">Home</a>
                    </span>

                    <h1><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">Title</a></h1>
                    <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Created by</div>
                    <div><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a></div>
                    <br/>
                    <h3 class="panel-body" th:text="${post.body}">Body</h3>

                </div>

            </div>
        </div>
    </body>

</html>