<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>
        <div th:fragment="posts">

            <div class="starter-template panel" th:object="${pager}" th:each="post : ${pager.getPosts()}">

                <div class="panel-heading">
                    <h3><a th:text="${post.title}" href="/post/" th:href="@{'/post/' + ${post.getId()}}">Title</a></h3>

                    <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MM-yyyy')} + ' by '">Created by</div>
                    <div><a th:text="${post.user.username}" href="/blog/" th:href="@{'/blog/' + ${post.user.username}}">User</a></div>
                </div>

                <p class="panel-body" th:text="${post.body}">Body</p>
                <br/>

            </div>
        </div>
    </body>

</html>