h1 {
    color: dimgrey;
}

p {
    color: grey;
    font-family: "Fira Code", serif;
    font-size: 1.2em;
}

h2 {
    color: lightslategrey;
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

a {
    transition: all .2s;
}

a:hover, a:focus, a:active {
    color: purple;
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}

.row {
    margin-top: 20px;
}
