<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
    <body>

        <div th:replace="fragments/header :: header"></div>

            <div class="container">

                <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Error java.lang.NullPointerException</h1>
                <h1 th:if="!${errorMessage}">404 - Page does not exist</h1>
                <a href="/home" th:href="@{/home}">Back to Home</a>

            </div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>
