<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

            <div class="container">
                <div th:replace="fragments/posts :: posts"></div>
                <div th:replace="fragments/pagination :: pagination(URLparameter='/home')"></div>
            </div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>
